{% extends "base.html" %}
{% block content %}

<h2>{{ subject.name }}</h2>

<form method="POST" action="/add-section/{{ subject.id }}">
    <input name="title" placeholder="Add Heading (Arrays, DP...)">
    <button>Add Heading</button>
</form>

<hr>

{% for section in sections %}
    <h3>{{ section.title }}</h3>

    <form method="POST" action="/add-topic/{{ section.id }}">
        <input name="title" placeholder="Add topic">
        <button>Add</button>
    </form>

    <ul>
        {% for t in section.topic_set %}
        <li>
            {{ t.title }}
            <a href="/toggle/{{ t.id }}">
                {% if t.completed %}✅{% else %}⬜{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>

{% endfor %}

{% endblock %}
